.rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ratingButton {
  cursor: pointer;
  background-color: var(--very-dark-blue);
  color: var(--medium-grey);
  padding: 12px;
  border-radius: 40px;
  border-style: none;
  margin: 12px 0px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  width: 50px;
  height: 50px;
}

.ratingButton:hover {
  background-color: var(--primary);
  color: var(--white);
}

.ratingButton:active,
.clicked {
  background-color: var(--light-grey);
  color: var(--white);
}
