.submitButton {
  background-color: var(--primary);
  color: var(--white);
  width: 100%;
  font-weight: 600;
  padding: 12px;
  border-radius: 20px;
  border-style: none;
  font-family: 'Montserrat', sans-serif;
}

.submitButton:hover {
  background-color: var(--white);
  color: var(--primary);
}
